
<div class="container-detalles">
    <h2>Generador de Sudoku</h2>
    <div class="row">
        <div class="divider">   </div>
    </div>
    <div class="row">
        <div class="col l6 columnaImg">
            <img src="https://i.imgur.com/MfDYovf.jpg" class="imagenProyecto">
        </div>
        <div class="col l6">
            <div class="row">
                <div class="col">
                    <p>

                        Funciona con 2 etapas:<br>
                        En la pantalla de carga se genera un sudoku semilla que luego
                        se usa de base para generar otros sudokus.
                        <br><br>
                        La otra etapa es validar que el juego se esta resolviendo bien
                        cumpliendo que no se repitan valores por celda,fila y subcelda de 3x3<br>

                        <br><br>
                        Otras funciones:
                        <br><br>
                        -Barra de progreso que muestra el avance<br>
                        -Boton ganar que resuelve el sudoku<br>
                        -Opcion de habilitar deshabilitar ayuda<br>
                        con los posibles valores validos para una celda<br>
                        <br>
                        Desarrollado con
                        <br><br>
                        Html5<br>
                        Bootstrap<br>
                        Javascript<br>
                        Jquery<br>



                    </p>
                </div>
                <div class="col">
                    <a class="waves-effect waves-light btn-git btn-small" href="https://github.com/nazarenoventrelli/Generador-de-sudoku">Ver Codigo <i class="fa fa-github fa-lg"></i></a>
                    <a class="waves-effect waves-light btn-small" href="http://www.nazaventrelli.com/proyectos/test/sudoku">Ver Sitio</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="divider">   </div>
    </div>


    <div class="container">

        <div class="row ">


            <div class="col s12 m6 l4">
                <img src="https://i.imgur.com/WeAmpbR.png" class="materialbox responsive-img card">
            </div>
            <div class="col s12 m6 l4">
                <img src="https://i.imgur.com/VuX7Knl.png" class="materialbox responsive-img card">
            </div>
            <div class="col s12 m6 l4">
                <img src="https://i.imgur.com/Q5xKpNj.png" class="materialbox responsive-img card">
            </div>

        </div>

    </div>



</div>


