<div class="container">
    <div class="row">

        <div class="row">
            <h6>Proyectos Web</h6>
            <div class="divider">   </div>

        </div>
        <div class="col s10 m4 l4">
            <div class="card">
                <div class="card-image">
                    <img src="https://i.imgur.com/hLF9v2p.png">
                </div>
                <div class="card-content">
                    <p>
                        Crud .net
                    </p>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn-small" routerLink="/projects/view" routerLinkActive="active">Detalles</a>
                    <a class="waves-effect waves-light btn-small" href="www.google.com">Ver Sitio</a>
                </div>
            </div>
        </div>
        <div class="col s10 m4 l4">
            <div class="card">
                <div class="card-image">
                    <img src="https://i.imgur.com/VuX7Knl.png">
                </div>
                <div class="card-content">
                    <p>
                        Generador de sudoku
                    </p>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn-small" routerLink="/projects/view" routerLinkActive="active">Detalles</a>
                    <a class="waves-effect waves-light btn-small" href="www.google.com">Ver Sitio</a>
                </div>
            </div>
        </div>
        <div class="col s10 m4 l4">
            <div class="card">
                <div class="card-image">
                    <img src="https://i.imgur.com/BNb4fvz.png">
                </div>
                <div class="card-content">
                    <p>
                        Curiosity api
                    </p>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn-small" routerLink="/projects/view" routerLinkActive="active">Detalles</a>
                    <a class="waves-effect waves-light btn-small" href="www.google.com">Ver Sitio</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s10 m4 l4">
            <div class="card">
                <div class="card-image">
                    <img src="https://i.imgur.com/ijfHFjC.png">
                </div>
                <div class="card-content">
                    <p>
                        Crud Java
                    </p>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn-small" routerLink="/projects/view" routerLinkActive="active">Detalles</a>
                </div>
            </div>
        </div>
        <div class="col s10 m4 l4">
            <div class="card">
                <div class="card-image">
                    <img src="https://i.imgur.com/FPkuJHD.jpg">
                </div>
                <div class="card-content">
                    <p>
                        Gestor Windows Form
                    </p>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-light btn-small" routerLink="/projects/view" routerLinkActive="active">Detalles</a>
                </div>
            </div>
        </div>

    </div>
        <div class="row">
            <h6>Otros</h6>
            <div class="divider">   </div>

        </div>
        <div class="row">
            <div class="col s10 m4 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://i.imgur.com/rSVqIFf.png">
                    </div>
                    <div class="card-content">
                        <p>
                            Winimps Asm
                        </p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn-small" routerLink="/projects/view" routerLinkActive="active">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col s10 m4 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://i.imgur.com/pi8OYYr.png">
                    </div>
                    <div class="card-content">
                        <p>
                            Bloques Unity
                        </p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn-small" routerLink="/projects/view" routerLinkActive="active">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col s10 m4 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://i.imgur.com/mIplWmY.png">
                    </div>
                    <div class="card-content">
                        <p>
                            Threads Java
                        </p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn-small"  routerLink="/projects/view" routerLinkActive="active">Detalles</a>
                    </div>
                </div>
            </div>


        </div>
        </div>