<!DOCTYPE html>

<html>
<head>
  <base href="/">

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121965203-1"></script>
  <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-121965203-1');
    </script>

  <title>Nazareno Ventrelli </title>

  <link type="text/css" rel="stylesheet" href="/portfolio/assets/css/materialize.min.css" media="screen,projection" />
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script type="text/javascript" src="/assets/js/materialize.min.js"></script>

</head>

<body>

  <main>
    <nav class="nav-wrapper  z-depth-4 ">

      <div class="container">

        <ul class="left">
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
          <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>

        </ul>

      </div>

      <ul class="right rightPanel">
        <div class="col s4">
          <div class="row">
            <li><a href="https://github.com/nazarenoventrelli" class="fa fa-github fa-lg"> </a></li>
            <li><a href="https://www.linkedin.com/in/nazareno-ventrelli" class="fa fa-linkedin fa-lg"> </a></li>

          </div>
        </div>
      </ul>
    </nav>

    <section class="mainContainer">


      <router-outlet></router-outlet>

    </section>

  </main>

  <footer>
    <div class="divider"> </div>
    <div class="row">
      <div class="col l3 left "> © 2018 Nazareno Ventrelli </div>
      <div class="col l4 right">
        <span> Receive a notification when i finish a new project </span>
        <form (submit)="subscribe($event)" class="subscribeForm">
          <input name="reply_to" type="email" class="validate" placeholder="your email">
          <button type="submit" value="Send" class="sendButton waves-effect waves-light btn-small">Send</button>
        </form>
      </div>
    </div>
  </footer>
</body>

</html>