.linksContainer{
    position: absolute;
    bottom: 0;
    left: 50%;
}

 a{
    margin-right: 10px;
}

.mainContainer{
    position: relative;
}

.projectDescription{
    padding-bottom:50px !important;
}