.image-zoom,
.image-zoom-wrapper::after {
  transition-timing-function: ease-in-out !important;
}

.image-zoom-wrapper::after {
    background-color: black !important;
  }

.image-zoom-wrapper.image-zoom-wrapper-zoomed::after {
  opacity: 0.5 !important;
}

body {
  font-family: 'Raleway', sans-serif;
}

.nav-wrapper, nav {
  background-color: #6eacc7;
}

.mainContainer {
  margin-top: 50px;
}

footer {
  margin-top: 101px;
}

.contactText {
  margin-bottom:30px;
}

.btn-small {
  width: 90px;
  padding: 0 0.5rem;
  text-transform: none;
}

.contactBox {
  height: 400px;
  width: 354px;
}

.sendButton {
  margin-bottom: 50px;
  margin-right: 50px;
}

.btn-git {
  width: 117px;
}

.divider{
  height:2px;
  margin-top:10px;
}

.materialbox {
  transition: all 200;
  box-shadow: 0px 0px 10px #777b7b;
}

.materialbox:hover {
  box-shadow: 0px 0px 40px #777b7b;
}

.rightPanel {
  margin-right: 50px;
}

.fa.fa-tag {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: red;
}

.fa:hover {
  background-color: #6eacc7;
}

.projectImage {
  width: 397px;
  height: 272px;
  box-shadow: 0px 0px 20px #777b7b;
}

.imgColumn{
  padding-left:0px;
}

.detailsContainer {
  width: 85%;
  margin-left: 100px;
  margin-right: 100px;
}
